#actors {
  padding: 80px 0;
  background: white;
  color: black;
  .actors {
    //display: flex;
    //align-items: flex-start;
    //overflow-x: auto;
  &--card {

    text-align: center;
  }
  }
}