@import "src/style/header";
@import "src/style/footer";
@import "src/style/popular";
@import "src/style/topRated";
@import "src/style/movieDetails";
@import "src/style/home";
@import "src/style/actors";
@import "src/style/trailer";
@import "src/style/people";
@import "src/style/peopleVideo";
@import "src/style/search";


* {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

#App {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}